{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["exercises", "./exercises"],
        ["components", "./components"],
        ["pages", "./pages"]
      ]
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "global-require": "off",
    "semi": [
      "error",
      "never"
    ]
  }
}